<packages>
	<package Id="chocolatey" />
	<package Id="chocolatey-core.extension" />
	<package Id="chocolatey-windowsupdate.extension" />
	<package Id="cmake.install" />
	<package Id="Cmder" />
	<package Id="cyberduck" />
	<package Id="Cygwin" />
	<package Id="DotNet4.5" />
	<package Id="DotNet4.5.2" />
	<package Id="dotnet4.7" />
	<package Id="git" />
	<package Id="git.install" />
	<package Id="github-desktop" />
	<package Id="gitkraken" />
	<package Id="KB2919355" />
	<package Id="KB2919442" />
	<package Id="KB4019990" />
	<package Id="miktex" />
	<package Id="miktex.install" />
	<package Id="signal" />
	<package Id="sumatrapdf" />
	<package Id="sumatrapdf.commandline" />
	<package Id="sweet-home-3d" />
	<package Id="synctrayzor" />
	<package Id="texstudio" />
	<package Id="typora" />
	<package Id="vcredist2010" />
	<package Id="virtualbox" />
	<package Id="VirtualBox.ExtensionPack" />
	<package Id="visualstudiocode" />
	<package Id="vscode" />
	<package Id="zadig" />
</packages>
